vendor/*
var/*
tests
dev.log
.env.test
.env

symfony.lock
composer.lock

.idea

config/packages/dev/*
config/packages/prod/*

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

/var/cache/*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
