vendor/*
var/*
tests
dev.log
.env.test
.env

symfony.lock
composer.lock

.idea/

node_modules

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

/var/cache/*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

my_project/node_modules
my_project/.env
my_project/.env.test
my_project/symfony.lock
my_project/vendor
my_project/var
my_project/data

public/uploads/pictures/*

migrations/